<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/93c03baa5a.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../static/css/style.css">
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
   
   <title>Portfólio</title>
</head>

<body>

   <nav>
      <ul>
         <li id="inicio"> <a href="#first">Inicio</a> </li>
         <li> <a href="#projetos">Projetos</a> </li>
         <li> <a href="#sobre">Sobre mim</a> </li>
         <li> <a href="#contato">Contato</a> </li>
      </ul>
   </nav>

   <section id="first">

      <div id="img-jobson">
         <img src="../static/img/Jobson.jpg" alt="Foto Jobson">
      </div>

      <div id="first-text">
         <p>MEU PORTFOLIO
         </p>
         
      </div>
      <div id="icones" >
         <div id="linha"></div>
         <div id="estrela"><i class="fas fa-star" aria-hidden="true"></i></div>
    
         <div id="linha"></div>
      </div>

      <div id="competencias">
         <p>Desenvolvedor web - HTML - CSS - JS - Python</p>
      </div>

   </section>

   <section id="projetos">
      <div id="titulo-projetos"><h2>PROJETOS</h2>
      <div id="icones" >
         <div id="linha"></div>
         <div id="estrela"><i class="fas fa-star"></i></div>
      
         <div id="linha"></div>
      </div>

      <div id="portifolio">
         <div>
            <img src="../static/img/mudanca-de-humor.png" alt="mudanca-de-humor"> 
            <p>Projeto front-end da Blue edtech, para criação de um site que troque o humor de algum personagem.</p>
            <a href="https://jobsonb10.github.io/Mudanca-de-humor-do-Thanos/" target="_blank"><button>Acessar</button></a>
         </div>

         <div>
            <img src="../static/img/portfolio.png" alt="portfolio">
            <p>Projeto da Blue edtech, para organizar e apresentar nossos projetos feitos até aqui. Em constante atualização...</p>
            <a href="https://jobson-portfolio.herokuapp.com/" target="_blank"><button>Acessar</button></a>
         </div>


         </div>
      </div>

   </section>

   <section id="sobre">
      <div><h2>SOBRE MIM</h2>
         <div id="icones" >
            <div id="linha"></div>
            <div id="estrela"><i class="fas fa-star"></i></div>
         
            <div id="linha"></div>
         </div>
      
      <div id="texto">
         <p>Sou uma pessoa muito curiosa e aventureira, tive contato com a programação pela primeira vez na faculdade de engenharia mecânica, me interessei muito pela disciplina, tanto que desisti de ser engenheiro para ser um desenvolvedor.</p>

         <p>A partir daí, fiz vários mini cursos na internet para me aprofundar, Até que encontrei a Blue. Escola onde me comprometi realmente, e aprendi a maioria das coisas que sei hoje, e continuo aprendendo.. </p>
      </div>

      <div id="redes">
         <h3>Se conecte comigo </h3>
         <div id="icons">
            <a href="https://www.linkedin.com/in/jobb-silva-7b77b5144/" target="_blank">
               <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>

            <a href="https://github.com/jobsonb10" target="_blank">
               <i class="fa fa-github" aria-hidden="true"></i>
            </a>

            <a href="https://www.instagram.com/jobsonbrito10/" target="_blank">
               <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
         </div>   
      </div>
   </section>

   <section id="contato">

      <h3>MANDE UMA MENSAGEMhe</h3>

      <form action='/send' method="POST">
         <label for="nome">Nome</label>
         <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

         <label for="email">E-mail</label>
         <input type="email" placeholder="Digite seu email" id="email" name="email">


         <label for="mensagem">Mensagem</label>
         <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>

         <button type="submit" id="enviar">Enviar</button>

      </form>

      <div id="carregamento">
         <p>Enviando mensagem</p>
         <div id="loader"></div>
      </div>
      

   </section>


   <script src='../static/js/script.js'></script>

</body>

</html>